{% extends 'core/base.html' %}   
{% block content %}  
{% load static %}
<link rel="stylesheet" href="{% static 'core/css/contacto.css' %}">
    <!--Barra de navegacion-->

     
    <div id="navbarContainer"></div>
      
      <!--Formulario-->
 
      <section class="contact">
        <br>
          <h1 class="titulo">Dejanos tus comentarios!</h1>
          <br>
        <div id="formulario" class="u-wrapper">
        <div class="contact-content">
        <form id="form" action="https://formspree.io/f/moqzzyeq" method="POST" class="form">
          <label for="name" class="formu">Nombre Completo <span>*</span></label>
          <input name="name"  type="text" id="name" >
          <label for="email" class="formu">Correo electrónico <span>*</span></label>
          <input name="email" type="text" id="email" >
          <label for="message" class="formu">Mensaje</label>
          <textarea id="message" name="message" id="" cols="30" rows="10"></textarea>
          <button id="botonenviar" type="submit"  class="btn primary full">enviar mensaje</button>
        </form>
        <a href="mailto:pbortolotti@gmail.com" id="idform"></a>
        </div>
        </div>
      </section>


      {% endblock content %}