
{% extends 'core/base.html' %}
{% block content %}
{% load static %}
    <div id="navbarContainer"></div>
      
      <!--Equipo-->

      <div class="contenedor-equipo">
      <section class="main">
        <article>
          <h6>¿Qué formas de pago puedo aprovechar para realizar mi compra?</h6>
          <p>Se puede pagar con cualquier tarjeta</p>
        </article>
        <article>
          <h6>¿Cuál es el costo de envío?</h6>
          <p>El costo de envío será mostrado en base al total de la compra y ubicación, en el checkout, en el momento previo a la compra.</p>
        </article>
        <article>
          <h6>¿Cómo se realizan los envíos?</h6>
          <p>Trabajamos con: Correo Argentino</p>
        </article>
        <article>
          <h6>¿Dónde puedo recibir mi pedido?</h6>
          <p>Realizamos envíos a todo el país (Excepto Tierra Del Fuego).</p>
        </article>
        <article>
          <h6>¿Cuánto tarda en llegar el pedido?</h6>
          <p>El tiempo de entrega dependerá del tipo de envío seleccionado. En general la demora se encuentra entre 3 y 5 días hábiles luego de acreditado el pago.</p>
        </article>
        <article>
          <h6>¿Cuál es el plazo para realizar un cambio?</h6>
          <p>Puedes solicitar un cambio hasta 15 días luego de realizada la compra.</p>
        </article>
      </section>

    </div>


     <!--Scroll button-->
     <button class="scroll-top-btn hidden">&#11014;</button>
     {% endblock content %}